<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Bank of America Loan Submission</title>
		<link rel="stylesheet" href="css/app.css">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
		<link href="https://fonts.googleapis.com/css?family=Work+Sans" rel="stylesheet">
	</head>
	<body>
	<nav class="header_branding-bar" role="navigation" aria-label="main navigation">
		<div class="image-logo" role="img">
			<a href="/">
				<img class ="image-logo" src="img/bankofamericalogo.svg" alt="Bank of America Logo">
			</a>
		</div>
	</nav>
	<div class="header_title-bar"></div>
	<img class="hero-img" src="img/bg.jpg">
		{{{body}}}
	</body>
</html>
