<div class="grid-container">
  <div>
    <i class="far fa-check-circle fa-8x center"></i>
  </div>
  <h2>Thank you for your application</h2>
  <p class="intro">We'll review your application and get back to you soon</p>
</div>