<!-- USING UI ELEMENTS CONTENT UPLOADER -->

    <div class="uploader" style="height:300px"></div>
    <script>
      	var folderId = {{folderID}};
      	var accessToken = 'ytE1dXWZmhpDgheSYxDkTdwGPEzhR6oY'; //TODO: get user access token. using dev token as a placeholder
      	var uploader = new Box.ContentUploader();
      	uploader.show(folderId, accessToken, {
            container: '.uploader'
        });
    </script>
