:root{
  --mainRed:#dc1431;
  --lightGray: #f9f7f4;
  --justWhite: #ffffff;
  --darkGray: #666666;
  --darkerGray: #6b5e51;
  --darkestGray: #333333;
  --darkBlue: #012169;
  --lightBlue: #00589A;
  --weirdGray: #9d8e80;
  --buttonBlue: #0052C2;
  --submitGray: #d1c9c0;
}

body {
  font-family: Arial,sans-serif;
  margin: 0 !important;
}

.grid-container {
  display: grid;
  padding-bottom: 20vh;
}

.grid-container > form, 
.grid-container > div {
  justify-self: center;
}

.hero-img {
  width: 100%;
}

.navbar {
  padding-left: 10px;
  padding-right:10px;
}

h2 {
  font-size: 40px; 
  line-height: 50px;
  font-weight: 100;
  color: var(--mainRed);
  font-family: 'Work Sans', sans-serif;
  text-align: center;
  margin-bottom: 0;
  letter-spacing: -.04rem;
}

.intro {
  font-size: 1.25rem;
  line-height: 50px;
  text-align: center;
  margin-top: 0.5rem;
}

.content {
  margin-left: .625em;
  margin-right: .625em;
}

.image-logo {
  height: 1.75rem;
  padding-left: 50px;
}

img {
  display: inline-block;
  vertical-align: middle;
}

.input-text {
  height: 36px;
  font-size: 16px;
  border: 1px solid var(--weirdGray);
  display: inline-block;
  box-shadow: none;
  width: 99%;
  display: inline-block;
}

input[type=text]{
  display: block;
  border-color: var(--submitGray);
  transition: border-color 0.15s linear;
  -moz-transition: border-color 0.15s linear;
  -webkit-transition: border-color 0.15s linear;
  -o-transition: border-color 0.15s linear;
}

input[type=text]:hover {
  border-color: var(--darkGray);
}

.file-upload{
  display:block;
  text-align:center;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 12px;
}

.file-upload .file-select{
  display:block;
  border: 1px solid var(--submitGray);
  color: var(--darkestGray);
  cursor:pointer;
  height:40px;
  line-height:40px;
  text-align:left;
  background:var(--justWhite);
  overflow:hidden;
  position:relative;
  width: auto;
  margin-top: 15px;
}

.file-upload .file-select .file-select-button{
  background: var(--buttonBlue);
  padding:0 10px;
  display:inline-block;
  height:40px;
  line-height:40px;
  color: var(--justWhite);
}

.file-upload .file-select .file-select-name{
  line-height:40px;
  display:inline-block;
  padding:0 10px;
}

.file-upload .file-select:hover{
  border-color: var(--darkGray);
  transition:all .2s ease-in-out;
  -moz-transition:all .2s ease-in-out;
  -webkit-transition:all .2s ease-in-out;
  -o-transition:all .2s ease-in-out;
}

.file-upload .file-select:hover .file-select-button{
  border-color: var(--darkGray);
  background: var(--darkGray);
  color: var(--justWhite);
  transition:all .2s ease-in-out;
  -moz-transition:all .2s ease-in-out;
  -webkit-transition:all .2s ease-in-out;
  -o-transition:all .2s ease-in-out;
}

.file-upload.active .file-select{
  transition:all .2s ease-in-out;
  -moz-transition:all .2s ease-in-out;
  -webkit-transition:all .2s ease-in-out;
  -o-transition:all .2s ease-in-out;
}

.file-upload.active .file-select .file-select-button{
  background:var(--mainRed);
  background-color: var(--mainRed);
  color: var(--justWhite);
  transition:all .2s ease-in-out;
  -moz-transition:all .2s ease-in-out;
  -webkit-transition:all .2s ease-in-out;
  -o-transition:all .2s ease-in-out;
}

.file-upload .file-select input[type=file]{
  z-index:100;
  cursor:pointer;
  position:absolute;
  height:100%;
  width:100%;
  top:0;
  left:0;
  opacity:0;
}

.file-upload .file-select.file-select-disabled{
  opacity:0.65;
}

.file-upload .file-select.file-select-disabled:hover{
  cursor:default;
  display:block;
  cursor:pointer;
  height:40px;
  line-height:40px;
  margin-top:5px;
  text-align:left;
  background: var(--justWhite);
  overflow:hidden;
  position:relative;
}

.file-upload .file-select.file-select-disabled:hover .file-select-button{
  color: var(--darkGray);
  padding:0 10px;
  display:inline-block;
  height:40px;
  line-height:40px;
}

.file-upload .file-select.file-select-disabled:hover .file-select-name{
  line-height:40px;
  display:inline-block;
  padding:0 10px;
}

.btn {
  padding: 8px 20px;
}

button[type=submit] {
  cursor: pointer;
  border: none;
  background-color: var(--buttonBlue);
  color: var(--justWhite);
  display:block;
  width: 100%;
  height: 50px;
  font-weight: lighter;
  line-height: 1;
  text-align: center;
  font-size: 18px;
}

.center {
  margin: auto;
  width: 50%;
  padding: 10px;
  margin-top: 50px;
}

button[type=submit]:hover {
  background-color: var(--darkBlue);
  transition: background-color 0.3s ease 0s;
  -moz-transition: background-color 0.3s ease 0s;
  -webkit-transition: background-color 0.3s ease 0s;
  -o-transition: background-color 0.3s ease 0s;
}

form{
  width: 400px;
}

label {
  display:block;
  font-size: .8rem;
  padding-bottom: 3px;
  color: var(--darkestGray);
}

.header_branding-bar {
  min-height: 70px;
  padding-bottom: .5rem;
}

.header_branding-bar>div {
  padding: 1.4375rem 1.25rem;
}

.header_title-bar {
  background-image: url('/img/tile.svg');
  background-position: 59% 28%;
  content: ' ';
  margin: 0 auto;
  padding: 1.5rem 0;
  position: relative;
  display: block;
  background-position: center 25%;
  background-size: 200%;
  background-repeat: no-repeat;
}

.secure-text {
  color: var(--darkGray);
  float: right;
  font-size: .8125rem;
  font-weight: bold;
  margin-top: .3125rem;
}

.right {
  float: right!important;
}

.fa-check-circle {
  color: var(--mainRed);
}

@media (max-width: 720px) {
  h2{
  font-size: 28px;
  margin-bottom: 0;
  }
  .intro {
    font-size: 16px;
    margin-top: 10px;
    line-height: 20px;
  }
}

@media (max-width: 690px){ 
  .intro {
    text-align: center;
    font-family: 'Work Sans', sans-serif;
    font-size: .75rem;
    padding: 0 55px;
  }
  h2 {
    font-size: 1.5rem;
  }
  form {
    width: 250px;
  }
}

